/* 2021/05/28 build */
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* ios 禁止高亮 */
    -webkit-font-smoothing: antialiased; /* 字体抗锯齿 */
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei";
    font-size: 0;
    background: #fff;
    overflow: hidden;
}

body, div, p, img, ul, ol, li {
    margin: 0;
    padding: 0;
    border: 0;
}
