/* 2021/05/28 build */
/* width */
.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.full-vh {
    height: 100vh;
}
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
/* abs */
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* center */
.center {
	margin-left: auto;
	margin-right: auto;
}
.centerh {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}
/* text */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.opacity0 {
    opacity: 0;
}
.hidden {
    visibility: hidden;
}
.hide {
	display: none;
}
.overflow {
    overflow: hidden;
}
/* pointer-events */
.pe-none {
    pointer-events: none;
}
/* fade */
.fade-enter {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
.fade-enter-active {
    transition: 0.4s;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-to {
    opacity: 0;
}
.fade-leave-active {
    transition: 0.4s;
}
/* animate */
@-webkit-keyframes float {
    0% { transform: translate(0, 0); }
    25% { transform: translate(10px, -4px); }
    50% { transform: translate(12px, 0px); }
    75% { transform: translate(2px, 4px); }
    100% { transform: translate(0, 0); }
}
@keyframes float {
    0% { transform: translate(0, 0); }
    25% { transform: translate(10px, -4px); }
    50% { transform: translate(12px, 0px); }
    75% { transform: translate(2px, 4px); }
    100% { transform: translate(0, 0); }
}
@-webkit-keyframes float2 {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-10px, -4px); }
    50% { transform: translate(-12px, 0px); }
    75% { transform: translate(-2px, 4px); }
    100% { transform: translate(0, 0); }
}
@keyframes float2 {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-10px, -4px); }
    50% { transform: translate(-12px, 0px); }
    75% { transform: translate(-2px, 4px); }
    100% { transform: translate(0, 0); }
}
@-webkit-keyframes updown {
    0% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0px); }
}
@keyframes updown {
    0% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0px); }
}
