.page-home {
	.bg-top {
		top: -2.6%;
	}
	.logo {
		top: 2.6%;
	}
	.box-all {
		top: 8.8%;
		.box-banner {
			margin-top: 4%;
			.green, .btn-inter {
				z-index: 1;
			}
			.green {
				width: 4.267%;
				top: 87.4%;
				left: 35.6%;
			}
			.btn-inter {
				width: 24.8%;
				top: 60%;
			}
		}
	}
	.bg-bottom1 {
		-webkit-animation: updown 4s linear infinite;
		animation: updown 4s linear infinite;
	}
	.bg-bottom2 {
		-webkit-animation: updown 4s linear 2s infinite;
		animation: updown 4s linear 2s infinite;
	}
	.bottle {
		width: 10.667%;
		top: 87.4%;
		right: 23.8%;
		-webkit-animation: float 4s linear infinite;
	}
}
