.page-knowledge {
	.box-all {
		.molecule, .arrowu, .arrowd, .arrowl, .arrowr, .btn-home, .banner {
		    transform: translate3d(0, 0, 0)!important;
		    z-index: 1;
		}
		.ksall {
			.logo {
				margin-top: 4.6%;
			}
			.box-swiper {
				margin-top: 3.6%;
				.swiper-slide {
					.box-con {
						width: 65.6%;
						padding: 1.6%;
						background: #fff;
						border: 0.02rem solid rgba(92, 92, 188, 0.5);
						border-radius: 0.35rem;
						.box-pic {
							background: #eefcf6;
							border: 0.02rem solid rgba(92, 92, 188, 0.5);
							border-radius: 0.24rem;
						}
						.text {
							left: 127.2%;
						}
						.text4-1, .text4-2, .text6-1, .text6-2, .text8-1, .text8-2 {
							width: 94.267%;
						}
						.text6-2-4 {
							width: 13.528%;
							top: 40.7%;
						}
						.text6-2-5 {
							width: 39.758%;
							top: 32.4%;
						}
						.text4-1-1, .text4-2-1, .text6-1-1, .text6-2-1, .text8-1-1, .text8-2-1 {
							top: 59.2%;
						}
						.text4-1-2, .text4-2-2, .text6-1-2, .text6-2-2, .text8-1-2, .text8-2-2 {
							top: 66.6%;
						}
						.text4-1-3, .text4-2-3, .text6-1-3,  .text6-2-3, .text8-1-3 {
							top: 73.7%;
						}
						@-webkit-keyframes effect {
						    0% { left: 127.2%; opacity: 0; }
						    100% { left: 17.2%; opacity: 1; }
						}
						@keyframes effect {
						    0% { left: 127.2%; opacity: 0; }
						    100% { left: 3.2%; opacity: 1; }
						}
						@-webkit-keyframes effect2 {
						    0% { left: 127.2%; opacity: 0; }
						    100% { left: 58.4%; opacity: 1; }
						}
						@keyframes effect2 {
						    0% { left: 127.2%; opacity: 0; }
						    100% { left: 38.8%; opacity: 1; }
						}
						@-webkit-keyframes effect3 {
						    0% { left: 127.2%; opacity: 0; }
						    100% { left: 55%; opacity: 1; }
						}
						@keyframes effect3 {
						    0% { left: 127.2%; opacity: 0; }
						    100% { left: 55%; opacity: 1; }
						}
						.an1 {
							-webkit-animation: effect 0.6s ease forwards;
							animation: effect 0.6s ease forwards;
						}
						.an2 {
							-webkit-animation: effect 0.6s ease 0.1s forwards;
							animation: effect 0.6s ease 0.1s forwards;
						}
						.an3 {
							-webkit-animation: effect 0.6s ease 0.2s forwards;
							animation: effect 0.6s ease 0.2s forwards;
						}
						.an4 {
							-webkit-animation: effect2 0.6s ease 0.3s forwards;
							animation: effect2 0.6s ease 0.3s forwards;
						}
						.an5 {
							-webkit-animation: effect3 0.6s ease 0.4s forwards;
							animation: effect3 0.6s ease 0.4s forwards;
						}
						.btn-home {
							width: 40.78%;
							top: 83.6%;
						}
					}
				}
				.molecule {
					width: 13.334%;
				}
				.molecule1 {
					top: -12.4%;
					right: 9.6%;
					-webkit-animation: float 4s linear infinite;
					animation: float 4s linear infinite;
				}
				.molecule2 {
					top: 13.8%;
					left: 6.6%;
					-webkit-animation: float2 4s linear infinite;
					animation: float2 4s linear infinite;
				}
				@-webkit-keyframes arrowupdown {
			    	0% { transform: translateY(0); }
				    50% { transform: translateY(-6px); }
				    100% { transform: translateY(0); }
				}
				@keyframes arrowupdown {
				    0% { transform: translateY(0); }
				    50% { transform: translateY(-6px); }
				    100% { transform: translateY(0); }
				}
				@-webkit-keyframes leftright1 {
				    0% { transform: translateX(0); }
				    50% { transform: translateX(-6px); }
				    100% { transform: translateX(0); }
				}
				@keyframes leftright1 {
				    0% { transform: translateX(0); }
				    50% { transform: translateX(-6px); }
				    100% { transform: translateX(0); }
				}
				@-webkit-keyframes leftright2 {
				    0% { transform: translateX(0); }
				    50% { transform: translateX(6px); }
				    100% { transform: translateX(0); }
				}
				@keyframes leftright2 {
				    0% { transform: translateX(0); }
				    50% { transform: translateX(6px); }
				    100% { transform: translateX(0); }
				}
				.arrowu {
					width: 17.6%;
					top: 7.5%;
					right: 21.6%;
					-webkit-animation: arrowupdown 1s linear infinite;
				    animation: arrowupdown 1s linear infinite;
				}
				.arrowl {
					width: 7.734%;
					top: 44.3%;
					left: 5.3%;
					-webkit-animation: leftright1 1s linear infinite;
				    animation: leftright1 1s linear infinite;
				}
				.arrowr {
					width: 7.734%;
					top: 44.4%;
					right: 5.5%;
					-webkit-animation: leftright2 1s linear infinite;
				    animation: leftright2 1s linear infinite;
				}
				
				.arrowd {
					top: 83.8%;
				}
				.arrowd-intro {
					width: 17.334%;
					-webkit-animation: arrowupdown 1s linear infinite;
				    animation: arrowupdown 1s linear infinite;
				}
				.arrowd-learn {
					width: 29.067%;
					-webkit-animation: arrowupdown 1s linear infinite;
				    animation: arrowupdown 1s linear infinite;
				}
				.arrowd-q {
					width: 10.934%;
					-webkit-animation: arrowupdown 1s linear infinite;
				    animation: arrowupdown 1s linear infinite;
				}
				.arrowd4, .arrowd6 {
					width: 17.467%;
					-webkit-animation: arrowupdown 1s linear infinite;
				    animation: arrowupdown 1s linear infinite;
				}
				.arrowd-rule {
					width: 26.134%;
					-webkit-animation: arrowupdown 1s linear infinite;
				    animation: arrowupdown 1s linear infinite;
				}
			}
			.box-banner {
				margin-top: -24.4%;
			}
			.bg-bottom1 {
				-webkit-animation: updown 4s linear infinite;
				animation: updown 4s linear infinite;
			}
			.bg-bottom2 {
				-webkit-animation: updown 4s linear 2s infinite;
				animation: updown 4s linear 2s infinite;
			}
			.bg-bottom3 {
				-webkit-animation: updown 4s linear 4s infinite;
				animation: updown 4s linear 4s infinite;
			}
		}
	}
}
