.page-loading {
	.bg-top {
		top: -2.6%;
	}
	.bg-bottom1 {
		-webkit-animation: updown 4s linear infinite;
		animation: updown 4s linear infinite;
	}
	.bg-bottom2 {
		-webkit-animation: updown 4s linear 2s infinite;
		animation: updown 4s linear 2s infinite;
	}
	.logo {
		top: 2.6%;
	}
	.bottle1 {
		width: 10.134%;
		top: 5%;
		right: 17.4%;
		-webkit-animation: float 4s linear infinite;
		animation: float 4s linear infinite;
	}
	.green1 {
		width: 3.334%;
		top: 65.8%; /* 55.8% */
		left: 25.8%;
	}
	.green2 {
		width: 4.267%;
		top: 72.8%;
		left: 63.8%;
	}
	.bottle2 {
		width: 10.4%;
		top: 79.6%;
		left: 20.8%;
		-webkit-animation: float2 4s linear infinite;
		animation: float2 4s linear infinite;
	}
	.box-all {
		top: 22.2%;
		.box-progress {
			width: 75%;
			height: 0.15rem;
			margin: 4.8% auto 1.4%;
			border-radius: 0.04rem;
			background: rgba(100, 188, 157, 0.2);
			.bar {
				width: 0%;
				border-radius: 0.04rem;
				background: #64bc9d;
			}
		}
		.box-percent {
			color: #64bc9d;
			font-size: 0.28rem;
		}
	}
}
