<style lang="scss" scoped src="@/assets/css/home.scss"></style>

<template>
	<div class="page-home full-vh rel">
		<!-- bg -->
		<img class="bg-top full-w abs left" src="@/assets/img/common/bg-top.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<div class="box-all full-w abs left">
			<!-- title -->
			<img class="full-w" src="@/assets/img/home/title.png" alt="碧欧泉男士护肤峰会之大师赛 知识学习页">
			<div class="box-banner rel">
	        	<img class="full-w" src="@/assets/img/home/banner.jpg">
	        	<img class="green abs" src="@/assets/img/common/green.png">
	        	<img class="btn-inter abs left right center" src="@/assets/img/home/btn-inter.png" @click="inter" alt="点击进入">
	        </div>
		</div>
		<img class="bg-bottom1 full-w abs bottom left pe-none" src="@/assets/img/common/bg-bottom1.png">
        <img class="bg-bottom2 full-w abs bottom left pe-none" src="@/assets/img/common/bg-bottom2.png">
		<img class="bottle abs" src="@/assets/img/home/bottle.png">
	</div>
</template>

<script src="@/assets/js/home.js"></script>
