<style lang="scss" scoped src="@/assets/css/knowledge.scss"></style>

<template>
	<div class="page-knowledge full-vh rel">
		<!-- bg -->
		<img class="full-w abs top left" src="@/assets/img/common/bg-top.png">
		<div class="box-all full-w full-h abs top left">
			<div class="swiper-container ksall full-h">
				<div class="swiper-wrapper">
					<!-- 1 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper1 rel">
							<div class="swiper-container ks1">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide1-1.png">
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide1-2.png">
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide1-3.png">
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide1-4.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img class="arrowl arrowl1 abs" :class="{'hidden': index1 == 0}" src="@/assets/img/knowledge/arrowl.png" @click="toprev(1)">
							<img class="arrowr arrowr1 abs" :class="{'hidden': index1 == 3}" src="@/assets/img/knowledge/arrowr.png" @click="tonext(1)">
							<img v-show="index1 == 3"  class="arrowd arrowd-intro abs left right center" src="@/assets/img/knowledge/arrowd-intro.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 2 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper2 rel">
							<div class="swiper-container ks2">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide2-1.png">
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide2-2.png">
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide2-3.png">
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide2-4.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img class="arrowl arrowl2 abs" :class="{'hidden': index2 == 0}" src="@/assets/img/knowledge/arrowl.png" @click="toprev(2)">
							<img class="arrowr arrowr2 abs" :class="{'hidden': index2 == 3}" src="@/assets/img/knowledge/arrowr.png" @click="tonext(2)">
							<img v-show="index2 == 3" class="arrowd arrowd-learn abs left right center" src="@/assets/img/knowledge/arrowd-learn.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 3 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper3 rel">
							<div class="swiper-container ks3">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide3.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img class="arrowd arrowd-q abs left right center" src="@/assets/img/knowledge/arrowd-q.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 4 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper4 rel">
							<div class="swiper-container ks4">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide4-1.jpg">
											</div>
											<img class="text text4-1 text4-1-1 abs opacity0" src="@/assets/img/knowledge/text4-1-1.png">
											<img class="text text4-1 text4-1-2 abs opacity0" src="@/assets/img/knowledge/text4-1-2.png">
											<img class="text text4-1 text4-1-3 abs opacity0" src="@/assets/img/knowledge/text4-1-3.png">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide4-2.jpg">
											</div>
											<img class="text text4-2 text4-2-1 abs opacity0" src="@/assets/img/knowledge/text4-2-1.png">
											<img class="text text4-2 text4-2-2 abs opacity0" src="@/assets/img/knowledge/text4-2-2.png">
											<img class="text text4-2 text4-2-3 abs opacity0" src="@/assets/img/knowledge/text4-2-3.png">
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img class="arrowl arrowl4 abs" :class="{'hidden': index4 == 0}" src="@/assets/img/knowledge/arrowl.png" @click="toprev(4)">
							<img class="arrowr arrowr4 abs" :class="{'hidden': index4 == 1}" src="@/assets/img/knowledge/arrowr.png" @click="tonext(4)">
							<img v-show="index4 == 1" class="arrowd arrowd4 abs left right center" src="@/assets/img/knowledge/arrowd-a.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 5 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper5 rel">
							<div class="swiper-container ks5">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide5.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img class="arrowd arrowd-q abs left right center" src="@/assets/img/knowledge/arrowd-q.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 6 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper6 rel">
							<div class="swiper-container ks6">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide6-1.jpg">
											</div>
											<img class="text text6-1 text6-1-1 abs opacity0" src="@/assets/img/knowledge/text6-1-1.png">
											<img class="text text6-1 text6-1-2 abs opacity0" src="@/assets/img/knowledge/text6-1-2.png">
											<img class="text text6-1 text6-1-3 abs opacity0" src="@/assets/img/knowledge/text6-1-3.png">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide6-2.jpg">
											</div>
											<img class="text text6-2 text6-2-1 abs opacity0" src="@/assets/img/knowledge/text6-2-1.png">
											<img class="text text6-2 text6-2-2 abs opacity0" src="@/assets/img/knowledge/text6-2-2.png">
											<img class="text text6-2 text6-2-3 abs opacity0" src="@/assets/img/knowledge/text6-2-3.png">
											<img class="text text6-2-4 abs opacity0" src="@/assets/img/knowledge/text6-2-4.png">
											<img class="text text6-2-5 abs opacity0" src="@/assets/img/knowledge/text6-2-5.png">
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img v-show="index6 == 0" class="arrowu arrowu6 abs" src="@/assets/img/knowledge/arrowu.png" @click="toPrev">
							<img class="arrowl arrowl6 abs" :class="{'hidden': index6 == 0}" src="@/assets/img/knowledge/arrowl.png" @click="toprev(6)">
							<img class="arrowr arrowr6 abs" :class="{'hidden': index6 == 1}" src="@/assets/img/knowledge/arrowr.png" @click="tonext(6)">
							<img v-show="index6 == 1" class="arrowd arrowd6 abs left right center" src="@/assets/img/knowledge/arrowd-a.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 7 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper7 rel">
							<div class="swiper-container ks7">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide7.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img class="arrowd arrowd-q abs left right center" src="@/assets/img/knowledge/arrowd-q.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 8 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper8 rel">
							<div class="swiper-container ks8">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide8-1.jpg">
											</div>
											<img class="text text8-1 text8-1-1 abs opacity0" src="@/assets/img/knowledge/text8-1-1.png">
											<img class="text text8-1 text8-1-2 abs opacity0" src="@/assets/img/knowledge/text8-1-2.png">
											<img class="text text8-1 text8-1-3 abs opacity0" src="@/assets/img/knowledge/text8-1-3.png">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide8-2.jpg">
											</div>
											<img class="text text8-2 text8-2-1 abs opacity0" src="@/assets/img/knowledge/text8-2-1.png">
											<img class="text text8-2 text8-2-2 abs opacity0" src="@/assets/img/knowledge/text8-2-2.png">
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
							<img v-show="index8 == 0" class="arrowu arrowu8 abs" src="@/assets/img/knowledge/arrowu.png" @click="toPrev">
							<img class="arrowl arrowl8 abs" :class="{'hidden': index8 == 0}" src="@/assets/img/knowledge/arrowl.png" @click="toprev(8)">
							<img class="arrowr arrowr8 abs" :class="{'hidden': index8 == 1}" src="@/assets/img/knowledge/arrowr.png" @click="tonext(8)">
							<img v-show="index8 == 1" class="arrowd arrowd-rule abs left right center" src="@/assets/img/knowledge/arrowd-rule.png" @click="toNext">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
					<!-- 9 -->
					<div class="swiper-slide overflow">
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<div class="box-swiper box-swiper9 rel">
							<div class="swiper-container ks9">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="box-con rel center">
											<div class="box-pic overflow">
												<img class="full-w" src="@/assets/img/knowledge/slide9.png">
											</div>
											<img class="btn-home abs left right center" src="@/assets/img/knowledge/btn-home.png" @click="toHome">
										</div>
									</div>
								</div>
							</div>
							<img class="molecule molecule1 abs" src="@/assets/img/knowledge/molecule1.png">
							<img class="molecule molecule2 abs" src="@/assets/img/knowledge/molecule2.png">
						</div>
						<div class="box-banner rel">
							<img class="full-w" src="@/assets/img/knowledge/bg-banner.png">
							<img class="banner full-w abs top left pe-none" src="@/assets/img/knowledge/banner.png">
						</div>
						<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom1.png">
						<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom2.png">
						<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/knowledge/bg-bottom3.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script src="@/assets/js/knowledge.js"></script>
