<style lang="scss" scoped src="@/assets/css/loading.scss"></style>

<template>
	<div class="page-loading full-vh rel">
		<!-- bg -->
		<img class="bg-top full-w abs left" src="@/assets/img/common/bg-top.png">
		<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/common/bg-bottom1.png">
        <img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/common/bg-bottom2.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
        <img class="bottle1 abs" src="@/assets/img/loading/bottle1.png">
        <img class="green1 abs" src="@/assets/img/common/green.png">
        <img class="green2 abs" src="@/assets/img/common/green.png">
        <img class="bottle2 abs" src="@/assets/img/loading/bottle2.png">
		<div class="box-all full-w abs left">
			<img class="full-w" src="@/assets/img/loading/banner.png">
        	<div class="box-progress overflow">
        		<div class="bar full-h"></div>
        	</div>
        	<div class="box-percent text-center"><span class="percent">0</span>%...</div>
		</div>
	</div>
</template>

<script src="@/assets/js/loading.js"></script>
